@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'selectize';
@import 'selectize.bootstrap3';

.toggle-text {
  text-decoration: underline;
  font-weight: bold;
  font-size: .85em;
  margin-left: .2em;
}

#error_explanation li {
  color: red;
}